/Spon_Times_Alpha/Code/Spon_Times_Pre_Alpha/nbproject/private/
/Spon_Times_Alpha/Code/Spon_Times_Pre_Alpha/dist/
/Spon_Times_Alpha/Code/Spon_Times_Pre_Alpha/build/
/Sera Blue Publishing/Code/Sera Blue Alpha Run 1/nbproject/private/
/Sera Blue Publishing/Code/Sera Blue Alpha Run 1/build/
/Sera Blue Publishing/Code/Sera Blue Alpha Run 1/nbproject/private
/Sera Blue Publishing/Code/nbproject/private/
/Sera Blue Publishing/Sera Blue/nbproject/private/
/Spon_Dev/DataFerret/CODE/dataFerret/build/
/Spon_Dev/DataFerret/CODE/dataFerret/nbproject/
/Spon_Dev/DataFerret/CODE/dataFerret/dist/